<style>
  .message-content {
    max-width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}!</p>
  <br>
  <p>Recebemos sua solicitação de redefinição de senha para sua conta de usuário.</p>
  <p>Se realemnte foi você que solicitou, clique no link abaixopara escolher uma novo senha:</p>
  <p>
    <a href="{{link}}">Redefinir minha senha</a>
  </p>
  <p>Caso você não tenho realizado essa solicitação, descarte este email.</p>
  <br>
  <p>Obrigado!</p>
  <p>Equipe API Vendas</p>
</div>
